<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project01group14">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project01Group14">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CalculateActivity"></activity>
        <activity android:name=".MainMenuActivity"></activity>
        <activity android:name=".AdminCreateUserActivity"></activity>
        <activity android:name=".AdminDeleteUserActivity"></activity>
        <activity android:name=".AdminMenuActivity"></activity>
        <activity android:name=".AdminMessagesActivity"></activity>
        <activity android:name=".AdminMinMaxActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".ResultsActivity"></activity>
    </application>

</manifest>